.rightAl {
    align-self: flex-end;
}

.leftAl {
    align-self: flex-start;
}

/* font weight */

.w400 {
    font-weight: 400;
}
.w600 {
    font-weight: 600;
}

/* font size */
.s05 {
    font-size: 0.5em;
}

.s1 {
    font-size: 1em;
}

.s3 {
    font-size: 3em;
}
.s1-1 {
    font-size: 1.1em;
}
.s1-15 {
    font-size: 1.15em;
}
.s1-2 {
    font-size: 1.2em;
}
.s1-25 {
    font-size: 1.25em;
}
.s1-3 {
    font-size: 1.3em;
}
.s1-35 {
    font-size: 1.35em;
}
.s1-4 {
    font-size: 1.4em;
}
.s1-45 {
    font-size: 1.45em;
}
.s1-5 {
    font-size: 1.5em;
}
.s1-55 {
    font-size: 1.55em;
}
.s1-6 {
    font-size: 1.6em;
}
.s1-65 {
    font-size: 1.65em;
}
.s1-7 {
    font-size: 1.7em;
}
.s1-75 {
    font-size: 1.75em;
}
.s1-8 {
    font-size: 1.8em;
}
.s1-85 {
    font-size: 1.85em;
}
.s1-9 {
    font-size: 1.9em;
}
.s1-95 {
    font-size: 1.95em;
}
.s2 {
    font-size: 2em;
}
.s2-1 {
    font-size: 2.1em;
}

/* margin top */
.mT10 {
    margin-top: 10px;
}

.mT15 {
    margin-top: 15px;
}
.mT20 {
    margin-top: 20px;
}
.mT25 {
    margin-top: 25px;
}

.mT100 {
    margin-top: 100px;
}

.mT150 {
    margin-top: 150px;
}
.mT200 {
    margin-top: 200px;
}

.mT400 {
    margin-top: 400px;
}

.mB50 {
    margin-bottom: 50px;
}
