.header-container {
    align-items: center;
    display: flex;
}

h1,
.title {
    margin-top: 15px;
    font-size: 10vw;
}

.title-container {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}

.backButton-container {
    align-items: center;
    padding-left: 3vw;
    flex-grow: 1;
    width: 100px;
}

.backButton {
    display: flex;
    width: 0.35em;
    font-size: 10vw;
}

.container-logout {
    width: 100px;
    padding-right: 3vw;
    flex-grow: 1;
    justify-content: right;
    display: flex;
}

.logout {
    width: 0.75em;
    font-size: 10vw;
}
