.header-container {
    margin-top: 1em;
    align-items: center;
    display: flex;
}

h1,
.title {
    margin-top: 15px;
    font-size: 1.1em;
}

.title-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.backButton {
    display: flex;
    width: 0.35em;
    padding-left: 25%;
}

.backButton-container {
    width: 51.61px;
    align-items: center;
}

.logout {
    margin-top: 9px;
    width: 0.75em;
    padding-right: 15px;
}
