.header-container {
    margin-top: 1em;
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

h1,
.title {
    margin-top: 15px;
}

.title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backButton {
    display: flex;
    width: 1em;
    margin-left: 5%;
}

.logout {
    width: 2em;
}
