.home-container {
    width: min(80vw, 1450px);
    align-self: center;
}

.home-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container h1 {
    font-size: 0.83em;
}

.home-subtitle {
    /* text-align: center; */
    font-style: normal;
    color: #3d3d3d;
    font-weight: 400;
    letter-spacing: -0.02em;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 0.35em;
}

.outline-button {
    border: 1px solid #f76b1c;
    border-radius: 50px;
    padding: 10px 50px;
    font-size: 0.5em;
    color: #f76b1c;
}

.outline-button:hover {
    border: transparent;
    border-radius: 50px;
    padding: 11px 52px;
    font-size: 0.5em;
    background: linear-gradient(130deg, #f76b1c, #fad961);
    color: #fff;
}

.blob {
    position: absolute;
    right: -3em;
    top: 10em;
    z-index: -1;
    overflow: hidden;
    width: min(90vw, 800px);
    animation: scaleBlob 3s infinite;
}
@keyframes scaleBlob {
    0% {
        transform: scale(110%);
    }
    50% {
        transform: scale(95%);
    }
    100% {
        transform: scale(110%);
    }
}

.blob2 {
    position: absolute;
    left: 0;
    top: 32em;
    z-index: -1;
    overflow: hidden;
    width: min(20vw, 270px);
    animation: scaleBlob 2s infinite;
}

.blob3 {
    position: absolute;
    right: 0;
    top: 44em;
    z-index: -1;
    overflow: hidden;
    width: min(20vw, 270px);
    animation: scaleBlob 3s infinite;
}

.blob4 {
    position: absolute;
    right: 3em;
    top: 41em;
    z-index: -1;
    overflow: hidden;
    width: min(10vw, 270px);
    animation: scaleBlob 3s infinite;
}

.blob5 {
    position: absolute;
    left: 3em;
    top: min(50em, 2000px);
    z-index: -1;
    overflow: hidden;
    width: min(20vw, 270px);
    animation: scaleBlob 2s infinite;
}

.homeImage {
    width: min(80vw, 700px);
}

.ourService {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-subtitle-categories {
    font-style: normal;
    color: #3d3d3d;
    font-weight: 400;
    letter-spacing: -0.02em;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 0.5em;
    text-align: center;
}

.verticalImage {
    width: 2em;
    height: 3em;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
}

.horizontalImage {
    width: 2.25em;
    height: 1.25em;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
}

.images-section {
    display: flex;
}

.images-container {
    display: flex;
    width: 76vw;
}

.servicePoints {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}

.servicePoint {
    display: flex;
    align-items: flex-start;
    width: fit-content;
}

.serviceTitle {
    font-size: 0.4em;
}

.serviceParagraph {
    font-size: 0.25em;
    width: fit-content;
}

.testimonies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-container {
    --current-slide: 0;
    position: relative;
    width: min(80vw, 370px);
}

.carousel-button {
    border-radius: 100%;
    border: solid 2px;
    width: 0.3em;
    height: 0.3em;
    padding: 10px;
    top: 35%;
    cursor: pointer;
    z-index: 3;
}

.carousel-button:hover {
    transform: scale(103%);
}

.carousel-button-previous {
    border-color: #f76b1c;
    position: absolute;
    left: -7%;
    background-color: #fff;
}

.carousel-button-next {
    border-color: #fad961;
    background-color: #fff;
    position: absolute;
    right: -7%;
}

.slides {
    /* border: solid 2px #f76b1c; */
    border-radius: 10px;
    padding: 30px 35px 20px 35px;
    display: flex;
    transition: transform 0.5s;
    transform: translateX(calc(-100% * var(--current-slide)));
}

.slide::before {
    z-index: -1;
    position: absolute;
    inset: -2px;
    content: '';
    background: linear-gradient(90deg, #f76b1c, #fad961);
    border-radius: 5px;
}

.slide::after {
    content: '';
    z-index: 1;
    position: absolute;
    inset: 0;
    background-color: white;
    border: none;
    border-radius: 4px;
}

.slide {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slide p {
    font-size: 0.23em;
    z-index: 3;
}

.profil-container {
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 3;
}

.profil-image {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.name-job {
    font-size: 0.7em;
}

.name {
    font-weight: 600;
}

@media screen and (min-width: 1300px) {
    .home-container {
        width: min(80vw, 1450px);
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .home-title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 50px;
        text-align: start;
        justify-content: center;
    }

    .title-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .title-container h1 {
        font-size: 1.5em;
    }

    .home-subtitle {
        width: 40vw;
        font-size: 0.6em;
    }

    .blob {
        top: 5em;
        right: 0em;
    }

    .blob4 {
        top: 40em;
    }

    .images-container {
        gap: 50px;
        align-items: center;
        justify-content: center;
    }

    .images-container div {
        display: flex;
        gap: 50px;
        margin-left: 0;
    }

    .verticalImage {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
    }

    .horizontalImage {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
    }

    .serviceParagraph {
        width: fit-content;
    }

    .servicePoints {
        margin-top: 100px;
    }
}
