.home-container {
    width: min(80vw, 1450px);
    align-self: center;
}

.home-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container h1 {
    font-size: 0.83em;
}

.home-subtitle {
    /* text-align: center; */
    font-style: normal;
    color: #3d3d3d;
    font-weight: 400;
    letter-spacing: -0.02em;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 0.35em;
}

.outline-button {
    border: 1px solid #f76b1c;
    border-radius: 50px;
    padding: 10px 50px;
    font-size: 0.5em;
    color: #f76b1c;
}

.outline-button:hover {
    border: transparent;
    border-radius: 50px;
    padding: 11px 52px;
    font-size: 0.5em;
    background: linear-gradient(130deg, #f76b1c, #fad961);
    color: #fff;
}

.blob {
    position: absolute;
    right: -3em;
    top: 10em;
    z-index: -1;
    overflow: hidden;
    width: min(90vw, 800px);
    animation: scaleBlob 3s infinite;
}
@keyframes scaleBlob {
    0% {
        transform: scale(110%);
    }
    50% {
        transform: scale(95%);
    }
    100% {
        transform: scale(110%);
    }
}

.blob2 {
    position: absolute;
    left: 0;
    top: 32em;
    z-index: -1;
    overflow: hidden;
    width: min(20vw, 270px);
    animation: scaleBlob 2s infinite;
}

.blob3 {
    position: absolute;
    right: 0;
    top: 44em;
    z-index: -1;
    overflow: hidden;
    width: min(20vw, 270px);
    animation: scaleBlob 3s infinite;
}

.blob4 {
    position: absolute;
    right: 3em;
    top: 41em;
    z-index: -1;
    overflow: hidden;
    width: min(10vw, 270px);
    animation: scaleBlob 3s infinite;
}

.blob5 {
    position: absolute;
    left: -1em;
    top: min(56em, 2300px);
    z-index: -1;
    overflow: hidden;
    width: min(20vw, 270px);
    animation: scaleBlob 2s infinite;
}

.homeImage {
    width: min(80vw, 700px);
}

.ourService {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-subtitle-categories {
    font-style: normal;
    color: #3d3d3d;
    font-weight: 400;
    letter-spacing: -0.02em;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 0.5em;
    text-align: center;
}

.verticalImage {
    width: 2em;
    height: 3em;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
}

.horizontalImage {
    width: 2.25em;
    height: 1.25em;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
}

.images-section {
    display: flex;
}

.images-container {
    display: flex;
    width: 76vw;
}

.servicePoints {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}

.servicePoint {
    display: flex;
    align-items: flex-start;
    width: fit-content;
}

.serviceTitle {
    font-size: 0.4em;
}

.serviceParagraph {
    font-size: 0.25em;
    width: fit-content;
}

.testimonies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: red;
    /* justify-content: space-between; */
}

.slides {
    transform: translate(-50%, -50%);
    user-select: none;
}

.slides .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.item svg {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.slide.active {
    opacity: 1;
    z-index: 3;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.slide.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
}

.slide.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
}

.slides .carousel-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
}

.carousel-buttons .carousel-button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    transition: all 300ms ease-in-out;
}

.carousel-buttons .carousel-button:hover {
    opacity: 1;
}

.carousel-buttons .carousel-button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    z-index: -99;
}

.carousel-buttons .carousel-button:nth-child(1) {
    float: left;
}

.carousel-buttons .carousel-button:nth-child(2) {
    float: right;
}

@media screen and (min-width: 1300px) {
    .home-container {
        width: min(80vw, 1450px);
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .home-title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 50px;
        text-align: start;
        justify-content: center;
    }

    .title-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .title-container h1 {
        font-size: 1.5em;
    }

    .home-subtitle {
        width: 40vw;
        font-size: 0.6em;
    }

    .blob {
        top: 5em;
        right: 0em;
    }

    .blob4 {
        top: 40em;
    }

    .images-container {
        gap: 50px;
        align-items: center;
        justify-content: center;
    }

    .images-container div {
        display: flex;
        gap: 50px;
        margin-left: 0;
    }

    .verticalImage {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
    }

    .horizontalImage {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
    }

    .serviceParagraph {
        width: fit-content;
    }

    .servicePoints {
        margin-top: 100px;
    }
}
