.updateTitle {
    font-size: 0.5em;
}

.line {
    height: 1px;
    background-color: #d8d8d8;
}

.paragraphCgu {
    font-size: 0.5em;
}

.cguTitle {
    font-size: 0.6em;
    font-weight: 700;
}

.image {
    width: 25px;
    height: 25px;
}

textarea {
    font-size: 1rem;
    line-height: 1.5em;
    font-family: 'Roboto';
}

.rendu {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
}

.formModif {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.bigContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.formSubTitle {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
}

textarea {
    color: #f76b1c;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 0.3em;
    margin-bottom: 5px;
}

.formSubTitle h3 {
    display: flex;
    align-items: center;
}

.renduTitle {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.mentionsFr {
}
