.updateTitle {
    font-size: 0.5em;
}

.line {
    height: 1px;
    background-color: #d8d8d8;
}

.paragraphCgu {
    font-size: 0.5em;
}

.cguTitle {
    font-size: 0.6em;
    font-weight: 700;
}

.image {
    width: 25px;
    height: 25px;
}

.rendu {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
}

.formModif {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.bigContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: -75px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.formSubTitle {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    font-size: 1em;
}

textarea {
    line-height: 1.5em;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 0.3em;
    margin-bottom: 5px;
    border: solid 1px rgb(255, 51, 51);
    border-radius: 15px;
    padding: 5px;
    height: 45vh;
}

.button {
    margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
    .formModif {
        margin-top: 75px;
    }
    .bigContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    textarea {
        height: 25vh;
    }
    .formContainer {
        width: 90%;
    }

    .formSubTitle {
        font-size: 13px;
        height: 15px;
    }
}
