.formModif {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.bigContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: -75px;
}

.input-container {
    line-height: 1.5em;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 5px;
    border: solid 1px rgb(255, 51, 51);
    border-radius: 15px;
    padding: 5px;
    height: 45vh;
}

.input-container textarea {
    height: 100%;
}

.button {
    margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
    .formModif {
        margin-top: 75px;
    }
    .bigContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
