.ligne {
    width: 90%;
    height: 1.5px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 30px;
    background-color: #8e8b8b;
}

body {
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 50px);
    flex-direction: column;
}

.error-contact {
    align-self: center;
    background-color: #f76B1Ca0;
    justify-content: center;
    display: flex;
    margin: 2rem;
    padding: 1.5rem;
    border-radius: 20px;
    font-size: 1rem;
    align-items: center;
}

.error-block {
    font-size: 1rem;
    color: red;
}
