main {
    flex: 1;
    font-size: 0.4rem;
    margin-top: 1rem;
    /* background-color: red; */
    max-width: min(80vw, 800px);
    align-self: center;

    justify-content: center;
    display: flex;
}
main section {
    /* justify-content: center; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    margin: 0.4rem;
    justify-self: left;

    width: 80vw;
}

h2 {
    font-weight: normal;

    margin-left: 0.5rem;
}

.graphList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    border: none;
}

.graph:hover {
    cursor: pointer;
}

.graphList div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0.2rem;*/
    margin-bottom: 15px;
}
/* 
.graphList img {
    margin-bottom: 2px;
} */
