.input-container search {
    border: none;
    margin: 2px;
    width: min(80vw, 500px);
    height: 46px;
    border-radius: 9px;
    background-color: grey;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 0.6em;
    cursor: pointer;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #f76b1c;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.low-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.low-title {
    display: flex;
    justify-content: left;
    font-weight: bold;
    font-size: 0.6em;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.notification {
    margin-left: 5%;
    color: grey;
    margin-right: 5%;
    margin-bottom: 4%;
}

.notif-top {
    display: flex;
    justify-content: left;
}
.notif-middle {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}

.image-notif-importante {
    font-size: 0.2em;
    background-color: #ff7d7d;
    color: white;
    border-radius: 23px;
    padding: 5px 12px 5px 12px;
    margin-left: 5px;
    margin-right: 12px;
}

.image-notif-normale {
    font-size: 0.2em;
    background-color: #68f06f;
    color: white;
    border-radius: 23px;
    padding: 5px 12px 5px 12px;
    margin-left: 5px;
    margin-right: 12px;
}

.image-notif-deja-vue {
    font-size: 0.2em;
    background-color: #b4b4b4;
    color: #b4b4b4;
    border-color: #b4b4b4;
    border-radius: 23px;
    padding: 5px 12px 5px 12px;
    margin-left: 5px;
    margin-right: 12px;
}
.horaire {
    font-size: 0.4em;
    color: #b4b4b4;
    margin-left: 10%;
    margin-top: 2%;
}

.anormale-frequence {
    display: flex;
    font-size: 0.3em;
    text-indent: 5px;
    margin-left: 5%;
}
