.chartContainer {

    flex:1;
    display: flex;
    height: 100%;
    margin: 0 1rem;
    align-items: center;
}

.chart {
    margin: 0px auto;
    padding: 1rem;
    width: 80%;
    height: 30vh;
    /*border-width: 3px;*/
    /*border-style: solid;*/
    /*border-image: linear-gradient(#f76b1c, #fad961) 1;*/
    /*border-radius: 15px;*/
    background: linear-gradient(white, white) padding-box,
    linear-gradient(#f76b1c, #fad961) border-box;
    border-radius: 20px;
    border: 2px solid transparent;
}

.dataContainer {
    flex: 2;
    padding: 0 1rem;
    overflow: scroll;
}

.metrics-data {
    border-top: #F9F9F9 solid 1px;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.metrics-hour {
    color: #b4b4b4;
}

h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

body {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
    .chartContainer{
        justify-content: center;
    }
    .chart {
        width: 80%;
    }
}

.content-container {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.dataNotFound {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
}

.outline-button {
    border: 1px solid #f76b1c;
    border-radius: 50px;
    padding: 10px 50px;
    font-size: 0.5em;
    color: #f76b1c;
}

.outline-button:hover {
    border: transparent;
    border-radius: 50px;
    padding: 11px 52px;
    font-size: 0.5em;
    background: linear-gradient(130deg, #f76b1c, #fad961);
    color: #fff;
}

