.line {
    height: 1px;
    background-color: #d8d8d8;
    width: min(80vw, 500px);
}

.titleFAQ {
    font-size: 0.5em;
}

.paragraphFAQ {
    font-size: 0.3em;
}

.line-container {
    /* margin-left: calc(50% - 20px); */
    /* transform: translateX(-50%); */
}

.faq-container {
    align-self: center;
    width: min(80vw, 500px);
}

.faqListContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-input {
    width: 85vw;
    border-radius: 7px;
    border-color: #f76b1c;
    padding: 15px 0px;
    font-size: 0.5em;
}

.question-container {
    border: solid 1px rgb(196, 196, 196);
}
