.header-container {
    display: flex;
}

.header-container .title {
    flex-grow: 1;
    text-align: center;
}

.icon-container img {
    display: flex;
    /* padding: 2.5vw;
    padding: min(2.5vw, 35px); */
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
}
.icon-container:first-of-type {
    justify-content: flex-start;
    padding-left: 2.5vw;
}
.icon-container:last-of-type {
    justify-content: flex-end;
    padding-right: 2.5vw;
}

h1,
.title {
    margin-top: 15px;
    font-size: min(10vmin, 40px);
    z-index: 2;
    width: 80%;
}

.title-container {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}

.backButton {
    display: none;
}

.container-logout {
    width: 100px;
    padding-right: 3vw;
    flex-grow: 1;
    justify-content: right;
    display: flex;
}

.logout {
    width: 0.75em;
    font-size: 10vw;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh);
    width: 100vw;
    margin: 0;
}
