<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./styles/test.css" />

        <title>SafeHub - Ajout produit</title>

    </head>

    <body>
        <p>
        <img src="./assets/icons/backButton.svg" class="backButton"/>  
        <h1 class=".gradienttext"> Ajout d'un produit</h1>
        </p>



        <P class="button">Tickets</P> <br>
        <p class="button">Messagerie</p> <br>
        <p class="button">FAQ</p><br>
        <p class="button">Mentions légales</p>
        <p class="button">CGU</p>





    </body>

























</html>