<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SafeHub - Conditions générales d'utilisations</title>
        <link rel="stylesheet" href="./styles/common/index.css" />
        <link rel="stylesheet" href="./styles/common/topNavBar.css" />
        <link rel="stylesheet" href="./styles/common/classStyles.css" />
        <script
            type="text/javascript"
            src="./scripts/common/topNavBar.js"
            async
        ></script>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <div class="topNavBar-container">
            <div class="topNavBar-burgerMenu" onclick="toggleBurgerMenu()">
                <img src="./assets/icons/burgerIcon.svg" />
                <div class="topNavBar-burgerMenu-content-container"></div>
            </div>
            <a class="link" href="./faq.html">FAQ</a>
            <a class="link" href="./contact.html">CONTACT</a>
            <div class="topNavBar-logo-container">
                <img
                    class="topNavBar-logo"
                    src="./assets/logo.svg"
                    alt="logo"
                />
            </div>
            <a class="link" href="./connexion.html">CONNEXION</a>
            <div class="langage-selector">
                <img
                    src="./assets/frenchFlag.png"
                    class="langage-selector__flag"
                />

                <div class="langage-selector__text">FR</div>
                <img
                    class="langage-selector__arrow"
                    src="./assets/icons/arrowDown.svg"
                />
            </div>
        </div>
    </body>
</html>
