<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SafeHub - Foire aux questions</title>
        <link rel="stylesheet" href="./styles/common/index.css" />
        <link rel="stylesheet" href="./styles/common/topNavBar.css" />
        <link rel="stylesheet" href="./styles/common/classStyles.css" />
        <link rel="stylesheet" href="./styles/faq.css" />
        <script
            type="text/javascript"
            src="./scripts/common/components.js"
            async
        ></script>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <div class="topNavBar-container"></div>
        <div class="mL25">
            <p class="gradienttext title mT50">FAQ</p>
        </div>
        <div class="mL25 mT15 mB25">
            <input class="search-input" placeholder="Rechercher..." />
        </div>
        <div class="mL25 mR25 faqListContainer">
            <div>
                <p class="gradienttext titleFAQ">Lorem ipsum</p>
                <p class="paragraphFAQ mT10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet.
                </p>
                <div class="line-container">
                    <div class="line mT25"></div>
                </div>
            </div>
            <div>
                <p class="gradienttext titleFAQ">Lorem ipsum</p>
                <p class="paragraphFAQ mT10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet.
                </p>
                <div class="line-container">
                    <div class="line mT25"></div>
                </div>
            </div>
            <div>
                <p class="gradienttext titleFAQ">Lorem ipsum</p>
                <p class="paragraphFAQ mT10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet.
                </p>
                <div class="line-container">
                    <div class="line mT25"></div>
                </div>
            </div>
            <div>
                <p class="gradienttext titleFAQ">Lorem ipsum</p>
                <p class="paragraphFAQ mT10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet.
                </p>
                <div class="line-container">
                    <div class="line mT25"></div>
                </div>
            </div>
            <div>
                <p class="gradienttext titleFAQ">Lorem ipsum</p>
                <p class="paragraphFAQ mT10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet.
                </p>
                <div class="line-container">
                    <div class="line mT25"></div>
                </div>
            </div>
            <div>
                <p class="gradienttext titleFAQ">Lorem ipsum</p>
                <p class="paragraphFAQ mT10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet.
                </p>
                <div class="line-container">
                    <div class="line mT25"></div>
                </div>
            </div>
            <div>
                <p class="gradienttext titleFAQ">Lorem ipsum</p>
                <p class="paragraphFAQ mT10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet.
                </p>
                <div class="line-container">
                    <div class="line mT25"></div>
                </div>
            </div>
            <div>
                <p class="gradienttext titleFAQ">Lorem ipsum</p>
                <p class="paragraphFAQ mT10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet.
                </p>
                <div class="line-container">
                    <div class="line mT25"></div>
                </div>
            </div>
            <div>
                <p class="gradienttext titleFAQ">Lorem ipsum</p>
                <p class="paragraphFAQ mT10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet.
                </p>
                <div class="line-container">
                    <div class="line mT25"></div>
                </div>
            </div>
            <div>
                <p class="gradienttext titleFAQ">Lorem ipsum</p>
                <p class="paragraphFAQ mT10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet.
                </p>
                <div class="line-container">
                    <div class="line mT25"></div>
                </div>
            </div>
            <div>
                <p class="gradienttext titleFAQ">Lorem ipsum</p>
                <p class="paragraphFAQ mT10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet.
                </p>
                <div class="line-container">
                    <div class="line mT25"></div>
                </div>
            </div>
        </div>
    </body>
</html>
