<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SafeHub - Mot de passe oublié</title>
        <link rel="stylesheet" href="./styles/common/index.css" />
        <link rel="stylesheet" href="./styles/common/classStyles.css" />
        <link rel="stylesheet" href="./styles/forgotPassword.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <img
            src="./assets/icons/backButton.svg"
            class="backButton"
            onclick="window.location.href = './';"
        />
        <img src="./assets/hex_forgot.svg" class="blob" />
        <div class="title-container">
            <h1 class="title gradienttext">Mot de passe oublié</h1>
            <p class="subtitle">
                Veuillez entrer l’adresse email <br />
                associée à votre compte !
            </p>
        </div>
        <div class="illu-container">
            <img src="./assets/form_forgot.svg" class="illu" />
        </div>
        <form class="mT100">
            <div class="input-list-container">
                <div class="input-label-container">
                    <label for="email">Email</label>
                    <div class="input-container">
                        <input type="email" name="email" />
                        <img src="./assets/icons/mail.svg" />
                    </div>
                </div>
            </div>

            <input type="submit" class="button mT400" value="Envoyer" />
        </form>
    </body>
</html>
