<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SafeHub - Mot de passe oublié</title>
        <link rel="stylesheet" href="./styles/common/index.css" />
        <link rel="stylesheet" href="./styles/common/classStyles.css" />
        <link rel="stylesheet" href="./styles/gestion.css" />
        <link rel="stylesheet" href="./styles/identificationPagesStyles.css" />

        <script
            type="text/javascript"
            src="./scripts/common/components.js"
            async
        ></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>


    <body>
        
        <div class="header-container">
            <img src="./assets/icons/backButton.svg" class="icon-container" />
        </div>

        <div class="title-container">
            <h1 class="title gradienttext">Gestion</h1>
         </div>
    
        </div>

        <div class="input-list-container">

            <div class="input-container">
             
                    <input type= "button", class="input button-outlined" value="Tickets"></input> <br> <br>
              
            </div>

    
            <div class="input-container">
             
                <input type= "button", class="input button-outlined" value="Messagerie">
            </div>

        <div class="input-container">
             
            <input type= "button", class="input button-outlined" value="FAQ"> 
        </div>
        
        <div class="input-container">
           
            <input type= "small-button-outlined", class="input button-outlined" value="Mention légales">
           
            <input type= "small-button-outlined", class="input button-outlined" value="CGU">
        </div>
           
            
            

        </div>



        





    </body>

</html>
