<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SafeHub - Page d'accueil</title>
        <link rel="stylesheet" href="./styles/common/index.css" />
        <link rel="stylesheet" href="./styles/common/topNavBar.css" />
        <link rel="stylesheet" href="./styles/common/classStyles.css" />
        <script
            type="text/javascript"
            src="./scripts/common/topNavBar.js"
            async
        ></script>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body></body>
</html>
