<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./styles/common/index.css" />
        <link rel="stylesheet" href="./styles/headerprivate.css" />
        <link rel="stylesheet" href="./styles/profil.css" />

        <title>SafeHub - Profil</title>
    </head>
    <body>
        <div class="header-container">
            <div class="backButton-container">
                <img
                    src="./assets/icons/backButton.svg"
                    class="backButton"
                    alt="BackButton"
                />
            </div>

            <div class="title-container">
                <h1 class="title gradienttext">Profil</h1>
            </div>
            <div class="container-logout">
                <img
                    src="./assets/icons/logout.svg"
                    class="logout"
                    alt="logout"
                />
            </div>
        </div>
        <div class="central-container">
            <h2 class="gradienttext">Nom Prénom</h2>
            <div>XX ans</div>
            <div class="small-stroke""></div>
            <div>+33 9 75 43 78 07</div>
            <div>example@example.com</div>
        </div>
    </body>
</html>
