<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
        <title>SafeHub - Mot de passe oublié</title>
        <link rel="stylesheet" href="./styles/index.css" />
        <link rel="stylesheet" href="./styles/classStyles.css" />
        <link rel="stylesheet" href="./styles/forgotPassword.css" />
    </head>
    <body>
        <form class="mT100">
            <div class="input-list-container">
                <div class="input-label-container">
                    <label for="email">Email</label>
                    <div class="input-container block">
                        <input type="email" name="email" />
                        <img src="./assets/icons/mail.svg" />
                    </div>
                </div>
            </div>

            <input type="submit" class="button mT400" value="Envoyer" />
        </form>
    </body>
</html>
