<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SafeHub - Réinitialiser le mot de passe</title>
        <link rel="stylesheet" href="./styles/common/index.css" />
        <link rel="stylesheet" href="./styles/common/classStyles.css" />
        <link rel="stylesheet" href="./styles/common/topNavBar.css" />
        <link rel="stylesheet" href="./styles/headerprivate.css" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script
            type="text/javascript"
            src="./scripts/common/components.js"
            async
        ></script>
    </head>
    <body>
        <div
            class="header-container"
            title="test"
            leftButtonPath="./assets/icons/backButton.svg"
            rightButtonPath="./assets/icons/backButton.svg"
            style="background-color: red"
        ></div>

        <div
            class="input-label-container"
            type="password"
            name="password"
            placeholder="Mot de passe"
            path="./assets/icons/lock.svg"
        ></div>
    </body>
</html>
