<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SafeHub - Contact</title>
        <link rel="stylesheet" href="./styles/common/index.css" />
        <link
            rel="stylesheet"
            href="./styles/common/identificationPagesStyles.css"
        />
        <link rel="stylesheet" href="./styles/inscription.css" />
        <link rel="stylesheet" href="./styles/common/classStyles.css" />
        <link rel="stylesheet" href="./styles/common/topNavBar.css" />

        <script
            type="text/javascript"
            src="./scripts/common/components.js"
            async
        ></script>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <div class="topNavBar-container"></div>
        <img
            src="./assets/icons/backButton.svg"
            class="backButton"
            onclick="window.location.href = './';"
        />
        <div class="title-container">
            <h1 class="title gradienttext">Contact</h1>

            <p class="mT25 mB25 s05 urbanist">Parlez nous de nos produits !</p>
            <!-- <h1 class=> </h1> -->
            <h1 class="ligne"></h1>
        </div>
        <form>
            <div class="input-list-container">
                <div
                    class="input-label-container"
                    name="firstname"
                    placeholder="Prénom"
                    path=""
                ></div>
                <div
                    class="input-label-container"
                    name="surname"
                    placeholder="Nom"
                    path=""
                ></div>
                <div
                    class="input-label-container"
                    type="email"
                    name="email"
                    placeholder="Email"
                    path=""
                ></div>
                <div
                    class="input-label-container"
                    type="number"
                    name="telephone"
                    placeholder="Telephone"
                    path=""
                ></div>
                <div
                    class="input-label-container"
                    name="Message"
                    placeholder="Message"
                    multiline="true"
                    path=""
                ></div>
                <input type="submit" class="button mT25" value="Envoyer" />
            </div>
        </form>
    </body>
</html>
