<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SafeHub - Dashboard Gestionnaire</title>
        <link rel="stylesheet" href="./styles/common/index.css" />
        <link rel="stylesheet" href="./styles/common/classStyles.css" />
        <link rel="stylesheet" href="./styles/dashboardGestionnaire.css" />
        <link rel="stylesheet" href="./styles/headerPrivate.css" />
        <link rel="stylesheet" href="./styles/ticketuser.css" />

        <script
            type="text/javascript"
            src="./scripts/common/components.js"
            async
        ></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <div
            class="header-container"
            title="Dashboard Gestionnaire"
            leftButtonPath="../views/assets/icons/backButton.svg"
            rightButtonPath="../views/assets/icons/person.svg"
        ></div>

        <div class="input-list-container">
            <button class="button">Ajouter un produit</button>

            <button class="button">Gestion du site</button>
        </div>

        <!-- TODO: re-use and adjust the bpm part-->
        <div class="low-title">Dernières notifications</div>

        <div class="notification">
            <div class="notif-top">
                <div class="image-notif-importante"></div>
                <p class="gradienttext">Notification importante</p>
            </div>

            <div class="notif-middle">
                <p>Lorem ipsum dolor sit amet consectetur</p>
                <img src="../views/assets/icons/close.svg" path="" />
            </div>

            <div class="small">Mardi 10h30</div>
        </div>

        <div class="notification">
            <div class="notif-top">
                <div class="image-notif-normale"></div>
                <p class="gradienttext">Notification</p>
            </div>

            <div class="notif-middle">
                <p>Lorem ipsum dolor sit amet consectetur</p>
                <img src="../views/assets/icons/close.svg" path="" />
            </div>

            <div class="small">Mardi 10h30</div>
        </div>

        <div class="notification">
            <div class="notif-top">
                <div class="image-notif-deja-vue"></div>
                <p class="gradienttext">Notification déjà consultée</p>
            </div>

            <div class="notif-middle">
                <p>Lorem ipsum dolor sit amet consectetur</p>
                <img src="../views/assets/icons/close.svg" path="" />
            </div>

            <div class="small">Mardi 10h30</div>
        </div>

        <div class="low-title">Produits</div>

        <div class="notification">
            <div class="notif-top">
                <div class="image-notif-importante"></div>
                <p class="gradienttext">Nom du produit</p>
                <div class="small">Code du produit</div>
                <div class="small">Mardi 10:30</div>
            </div>

            <div class="notif-middle">
                <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
        </div>
        <div class="notification">
            <div class="notif-top">
                <div class="image-notif-importante"></div>
                <p class="gradienttext">Nom du produit</p>
                <div class="small">Code du produit</div>
                <div class="small">Mardi 10:30</div>
            </div>

            <div class="notif-middle">
                <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
        </div>
        <div class="notification">
            <div class="notif-top">
                <div class="image-notif-normale"></div>
                <p class="gradienttext">Nom du produit</p>
                <div class="small">Code du produit</div>
                <div class="small">Mardi 10:30</div>
            </div>

            <div class="notif-middle">
                <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
        </div>

        <div class="notification">
            <div class="notif-top">
                <div class="image-notif-normale"></div>
                <p class="gradienttext">Nom du produit</p>
                <div class="small">Code du produit</div>
                <div class="small">Mardi 10:30</Main></div>
            </div>

            <div class="notif-middle">
                <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
        </div>
        <div class="notification">
            <div class="notif-top">
                <div class="image-notif-importante"></div>
                <p class="gradienttext">Nom du produit</p>
                <div class="small">Code du produit</div>
                <div class="small">Mardi 10:30</div>
            </div>

            <div class="notif-middle">
                <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
        </div>

        
        <div class="low-title">Utilisateurs</div>
        <div
            class="input-label-container"
            type="search"
            name="product"
            placeholder="Rechercher un produit"
            path="../views/assets/icons/close.svg"
        ></div>




        <div class="notification-2">
            <div class="notif-top-2">
                <p class="gradienttext">Doe John</p>
                <div class="small">+33 7 23 24 45 45</div>
                <img src="../views/assets/icons/modify.svg"></div>
            </div>

            <div class="notif-middle">
                  <div class="small">20 ans</div>
                <div class="small">john.does@gmail.com</div>
            </div>
            </div>
        </div>








    </body>
</html>
