<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SafeHub - Page d'accueil</title>
        <link rel="stylesheet" href="./styles/common/index.css" />
        <link rel="stylesheet" href="./styles/accueil.css" />
        <script
            type="text/javascript"
            src="./scripts/common/components.js"
            async
        ></script>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <!-- Hero section -->
        <div class="topNavBar-container"></div>
        <div class="home-title">
            <h1 class="title gradienttext">Domotic for your safety</h1>
            <p class="home-subtitle">
                Lorem ipsum dolor sit amet, consectetur<br />
                adipiscing elit. Curabitur hendrerit laoreet<br />
                dictum.
            </p>
            <a href="./connexion.html" class="outline-button gradienttext mT100"
                >Se connecter</a
            >
            <img src="./assets/home_blob.svg" class="blob" />
            <img src="./assets/home_image.svg" class="mT100 homeImage" />
        </div>

        <!-- Nos services -->
        <div class="ourService mT150">
            <h1 class="title gradienttext">Nos services</h1>
            <p class="home-subtitle">
                Lorem ipsum dolor sit amet, consectetur<br />
                adipiscing elit.
            </p>
            <div class="images-section mT50">
                <div class="images-container">
                    <img
                        src="./assets/imagePlaceholder.jpg"
                        class="verticalImage"
                    />
                    <div class="mL10">
                        <img
                            src="./assets/imagePlaceholder.jpg"
                            class="horizontalImage"
                        /><img
                            src="./assets/imagePlaceholder.jpg"
                            class="horizontalImage"
                        />
                    </div>
                </div>
            </div>
            <img src="./assets/home_blob2.svg" class="blob2" />
            <div class="servicePoints mT50">
                <div class="servicePoint">
                    <img src="./assets/icons/homeInline.svg" class="" />
                    <div class="mL20">
                        <p class="serviceTitle gradienttext">Lorem ipsum</p>
                        <p class="serviceParagraph">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                </div>
                <div class="servicePoint">
                    <img src="./assets/icons/homeInline.svg" class="" />
                    <div class="mL20">
                        <p class="serviceTitle gradienttext">Lorem ipsum</p>
                        <p class="serviceParagraph">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                </div>
                <div class="servicePoint">
                    <img src="./assets/icons/homeInline.svg" class="" />
                    <div class="mL20">
                        <p class="serviceTitle gradienttext">Lorem ipsum</p>
                        <p class="serviceParagraph">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                </div>
            </div>
            <img src="./assets/home_blob3.svg" class="blob3" />
            <img src="./assets/home_blob4.svg" class="blob4" />
        </div>

        <!-- Temoignages -->
        <div class="testimonies mT150">
            <h1 class="title gradienttext">Témoignages</h1>
            <p class="home-subtitle">
                Lorem ipsum dolor sit amet, consectetur<br />
                adipiscing elit.
            </p>
        </div>

        <!-- Footer -->
        <div class="footer-container" small="true"></div>
    </body>
</html>
