<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SafeHub - Modifier le profil</title>
        <link rel="stylesheet" href="./styles/common/index.css" />
        <link rel="stylesheet" href="./styles/inscription.css" />

        <script
            type="text/javascript"
            src="./scripts/common/components.js"
            async
        ></script>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <div class="topNavBar-container"></div>
        <img
            src="./assets/icons/backButton.svg"
            class="backButton"
            onclick="window.location.href = './';"
        />
        <img src="./assets/hex_incri.svg" class="blob" />
        <div class="title-container">
            <h1 class="title gradienttext">Modifier le profil</h1>
            <p class="subtitle">Information</p>
        </div>

        <form>
            <div class="input-list-container">
                <div
                    class="input-label-container"
                    name="firstname"
                    placeholder="Prénom"
                    path="./assets/icons/person.svg"
                ></div>
                <div
                    class="input-label-container"
                    name="surname"
                    placeholder="Nom"
                    path="./assets/icons/person.svg"
                ></div>
                <div
                    class="input-label-container"
                    type="number"
                    name="telephone"
                    placeholder="Telephone"
                    path="./assets/icons/lock.svg"
                ></div>
                <div
                    class="input-label-container"
                    type="email"
                    name="email"
                    placeholder="Email"
                    path="./assets/icons/mail.svg"
                ></div>
            </div>
            <!-- gradienttext urbanist -->

            <input type="submit" class="button mT25" value="Envoyer" />
            <div class="mT10 mB50 s05 urbanist">
                <a
                    href="./resetPassword.html"
                    class="textstyle urbanist effectHovertext"
                    >Changer votre mot de passe</a
                >
            </div>
        </form>
    </body>
</html>
