<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./styles/common/index.css" />
        <link rel="stylesheet" href="./styles/headerprivate.css" />
        <link rel="stylesheet" href="./styles/profil.css" />
        <script
            type="text/javascript"
            src="./scripts/common/components.js"
            async
        ></script>
        <title>SafeHub - Profil</title>
    </head>
    <body>
        <div
            class="header-container"
            title="Profil"
            leftButtonPath="./assets/icons/backButton.svg"
            rightButtonPath="./assets/icons/logout.svg" width="25px"
            >
        </div>
       
        <div class="central-container">
            <h2 class="gradienttext">Nom Prénom</h2>
            <div>XX ans</div>
            <div class="small-stroke""></div>
            <div>+33 9 75 43 78 07</div>
            <div>example@example.com</div>
        </div>
        <div class="modifierProduit">
            <bouton class="button">    
                Modifier le produit
            </bouton>
            <bouton class="button-outlined">
                Ajout produit
            </bouton>
            <bouton class="button-outlined">
                Nouveau ticket
            </bouton> 
        </div>
        <img src="./assets/message_icon.svg" class="messageIcon">
    </body>
</html>
