.rightAl {
    align-self: flex-end;
}

.leftAl {
    align-self: flex-start;
}

/* font weight */

.w400 {
    font-weight: 400;
}
.w600 {
    font-weight: 600;
}

/* font size */
.s015 {
    font-size: 0.15em;
}
.s025 {
    font-size: 0.25em;
}
.s030 {
    font-size: 0.3em;
}
.s035 {
    font-size: 0.35em;
}
.s05 {
    font-size: 0.5em;
}

.s1 {
    font-size: 1em;
}

.s3 {
    font-size: 3em;
}
.s1-1 {
    font-size: 1.1em;
}
.s1-15 {
    font-size: 1.15em;
}
.s1-2 {
    font-size: 1.2em;
}
.s1-25 {
    font-size: 1.25em;
}
.s1-3 {
    font-size: 1.3em;
}
.s1-35 {
    font-size: 1.35em;
}
.s1-4 {
    font-size: 1.4em;
}
.s1-45 {
    font-size: 1.45em;
}
.s1-5 {
    font-size: 1.5em;
}
.s1-55 {
    font-size: 1.55em;
}
.s1-6 {
    font-size: 1.6em;
}
.s1-65 {
    font-size: 1.65em;
}
.s1-7 {
    font-size: 1.7em;
}
.s1-75 {
    font-size: 1.75em;
}
.s1-8 {
    font-size: 1.8em;
}
.s1-85 {
    font-size: 1.85em;
}
.s1-9 {
    font-size: 1.9em;
}
.s1-95 {
    font-size: 1.95em;
}
.s2 {
    font-size: 2em;
}
.s2-1 {
    font-size: 2.1em;
}

/* margin top */
.mT10 {
    margin-top: 10px;
}

.mT15 {
    margin-top: 15px;
}
.mT20 {
    margin-top: 20px;
}
.mT25 {
    margin-top: 25px;
}
.mT50 {
    margin-top: 50px;
}

.mT100 {
    margin-top: 100px;
}

.mT150 {
    margin-top: 150px;
}
.mT200 {
    margin-top: 200px;
}

.mT400 {
    margin-top: 400px;
}

/* margin right */
.mR10 {
    margin-right: 10px;
}

.mR15 {
    margin-right: 15px;
}
.mR20 {
    margin-right: 20px;
}
.mR25 {
    margin-right: 25px;
}
.mR50 {
    margin-right: 50px;
}

.mR100 {
    margin-right: 100px;
}

.mR150 {
    margin-right: 150px;
}
.mR200 {
    margin-right: 200px;
}

.mR400 {
    margin-right: 400px;
}

/* margin left */
.mL10 {
    margin-left: 10px;
}

.mL15 {
    margin-left: 15px;
}
.mL20 {
    margin-left: 20px;
}
.mL25 {
    margin-left: 25px;
}
.mL50 {
    margin-left: 50px;
}

.mL100 {
    margin-left: 100px;
}

.mL150 {
    margin-left: 150px;
}
.mL200 {
    margin-left: 200px;
}

.mL400 {
    margin-left: 400px;
}

/* margin bottom */
.mB10 {
    margin-bottom: 10px;
}

.mB15 {
    margin-bottom: 15px;
}
.mB20 {
    margin-bottom: 20px;
}
.mB25 {
    margin-bottom: 25px;
}
.mB50 {
    margin-bottom: 50px;
}

.mB100 {
    margin-bottom: 100px;
}

.mB150 {
    margin-bottom: 150px;
}
.mB200 {
    margin-bottom: 200px;
}

.mB400 {
    margin-bottom: 400px;
}

.isButton {
    cursor: pointer;
}

.wm50p {
    max-width: min(80vw, 500px);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.justEnd {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.fcolumn {
    display: flex;
    flex-direction: column;
}
.frow {
    display: flex;
    flex-direction: row;
}

.w20px {
    width: 20px;
}

.w50px {
    width: 50px;
}
.w100p {
    width: 100%;
}
