/* Put this code in your head to incorporate the public header */
/* 
    <link rel="stylesheet" href="./styles/common/topNavBar.css" />
    <script
        type="text/javascript"
        src="./scripts/common/component.js"
        async
    ></script>
    <div class="topNavBar-container"></div>
*/

.topNavBar-container {
    z-index: 5;
    transition-duration: 0.5s;
    background-color: white;
    left: 0;
    padding: 10px 20px 15px 20px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 2px 92px -17px rgba(255, 205, 78, 0.79);
    border-radius: 0px 0px 25px 25px;
    position: absolute;
    right: 0;
    top: 0;
}
.topNavBar-container-items {
    margin-top: 10px;
    display: flex;
    z-index: 1;
    /* background-color: green; */
    justify-content: space-between;

    align-items: center;
}

.topNavBar-container > * {
    min-width: 45px;
    /* background-color: blue; */
}
.topNavBar-logo-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.topNavBar-logo {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.langage-selector {
    position: relative;
    display: flex;
    font-size: 12px;
    width: 50px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.langage-selector__flag {
    width: 15px;
    height: 15px;
}
.langage-selector__arrow {
    margin-top: 2px;
    width: 12px;
    height: 12px;
}

.topNavBar-burgerMenu-content-container {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    /* background: #d5d5d5; */
    display: flex;
    flex-direction: column;
}
.link-Burger {
    height: fit-content;
    margin: 0;
    padding: 0;
    height: 20px;
}
.link-Burger a {
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.topNavBar-burgerMenu--shown .topNavBar-burgerMenu-content-container {
    max-height: 50vh;
    transition: max-height 0.25s ease-in;
}

.topNavBar-burgerMenu--shown.topNavBar-container {
    max-height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.topNavBar-burgerMenu--shown {
    /* height: 60vh; */
    align-items: baseline;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    overflow: hidden;
}

.topNavBar-burgerMenu {
    display: flex;

    width: 50px;
    align-items: center;
    cursor: pointer;
}
.burgerMenu-Logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.topNavBar-close {
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.topNavBar-burgerMenu-content-container > * {
    width: 100%;
    height: 70px;
    background-color: white;
    justify-content: center;
    display: flex;
}

.topNavBar-container .link {
    display: none;
}
.lineHeader {
    justify-self: center;
    height: 1px;
    background-color: rgba(255, 205, 78, 0.79);
}

@media (min-width: 564px) {
    .topNavBar-container-items  {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .topNavBar-container-items {
        justify-content: center;
        gap: 8vw;
    }

    .topNavBar-container {
        height: 50px;
    }
    .topNavBar-container .link {
        display: flex;
        font-size: 12px;
    }
    .topNavBar-logo-container {
        display: flex;
        flex-grow: 0;
    }
    .topNavBar-burgerMenu {
        display: none;
    }
}

.langage-selector-content-container {
    display: none;
    position: absolute;

    top: 40px;

    border-radius: 5px;
    box-shadow: 0px 2px 92px -17px rgba(255, 205, 78, 0.79);
    z-index: 2;
}
.langage-selector-content-container--shown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* flex-grow: 1; */
    background-color: white;
    margin: 0;
    padding: 0;
    box-shadow: 0px 2px 92px -17px rgba(255, 205, 78, 0.79);
}
.langage-selector-content-container__item {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex: 1;
    align-items: center;
    /* width: 100%; */

    padding: 10px;
    height: 100%;
    cursor: pointer;
    gap: 10px;
    font-size: 15px;
}
.langage-selector__text {
    width: 25px;
}
.langage-selector-content-container__item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.langage-selector-content-container__item:hover {
    background-color: #fce4c2;
}
.langage-selector {
    cursor: pointer;
}
/* <div class="langage-selector-content-container">
    <div class="langage-selector-content-container__item">
        <img src="./assets/frenchFlag.png" class="langage-selector__flag" />
        <div class="langage-selector__text">FR</div>
    </div>
    <div class="langage-selector-content-container__item">
        <img src="./assets/englishFlag.png" class="langage-selector__flag" />
        <div class="langage-selector__text">EN</div>
    </div>
</div> */
