@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset default styles */
* {
    font-size: 1.25em;
    font-family: 'Urbanist', sans-serif;
}

/* html styles */

p,
h1,
h2,
h3 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

a {
    text-decoration: none;
    color: black;
}

/* Main styles */
body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

h1,
.title {
    font-size: 1.5em;
    font-family: 'Bebas Neue', cursive;
    /* margin-bottom: 5px; */
}

h2 {
}

p {
}

.subtitle {
    font-style: normal;
    color: #3d3d3d;
    font-weight: 400;
    letter-spacing: -0.02em;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 0.75em;
}

/* Components styles */

/* Form stuff */
/* buttons */
.button {
    display: flex;
    border: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 50px;
    border-radius: 10px;
    background-color: #f76b1c;
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 0.6em;
    cursor: pointer;
    background: linear-gradient(210.94deg, #f76b1c -2.79%, #fad961 214.85%);
    transition-duration: 50ms;
}

.button:hover {
    transform: scale(101%);
    transition-duration: 50ms;
    background: linear-gradient(
        75deg,
        #ff3e1c,
        #f76b1c,
        #fabd61,
        #f76b1c,
        #ff3e1c
    );
    animation: steam 10s linear infinite;
    background-size: 400%;
}

.button:focus {
    transform: scale(99%);
    transition-timing-function: ease-in-out;
}

/* .test-container {
    width: 100%;
    height: 100px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} */
.button-outlined {
    border: none;
    margin: 2px;
    width: 80vw;
    height: 46px;
    border-radius: 9px;
    background-color: white;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 0.6em;
    cursor: pointer;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #f76b1c;
    /* background-clip: padding-box; */
}
.button-outlined::before {
    z-index: -1;
    content: '';
    position: absolute;
    border-radius: 10px;
    display: flex;
    /* padding: 2px; */
    inset: -1px;
    background: linear-gradient(75deg, #f76b1c, #fad961);
}

.button-outlined-red {
    border: none;
    margin: 2px;
    width: calc(80vw - 4px);
    height: 46px;
    border-radius: 9px;
    background-color: white;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 0.6em;
    cursor: pointer;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #ff2b1c;
    border: solid 1px rgb(255, 51, 51);
}

.button-outlined-red:hover {
    transform: scale(101%);
}

.button-outlined-red:focus {
    transform: scale(99%);
}

/* More than one input ? */
.input-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    margin-top: 10px;
}
/* inputs */
.input-label-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    z-index: 2;
}
.input-label-container label {
    color: #f76b1c;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 0.3em;
    margin-bottom: 5px;
}

.input-container {
    position: relative;
    display: flex;
    margin: 2px;
}
.input-container input {
    outline: none;
    border: none;
    font-family: 'Urbanist', sans-serif;
    font-size: 0.4em;
    padding: 0 20px 0 20px;
    height: 50px;
    z-index: 3;
    background-color: transparent;
    width: 100%;
    padding-right: 50px;
}

.input-container::before {
    z-index: -1;
    position: absolute;
    inset: -2px;
    content: '';
    background: linear-gradient(210.94deg, #ff2b1c, #f76b1c, #fad961, #f76b1c);
    border-radius: 5px;
    background-size: 400%;
}
.input-container:has(input:focus)::before {
    animation: steam 10s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.input-container::after {
    content: '';
    z-index: 1;
    position: absolute;
    inset: 0;
    background-color: white;
    border: none;
    border-radius: 4px;
}
.input-label-container img {
    z-index: 2;
    position: absolute;
    right: 15px;
    width: 20px;
    align-self: center;
}

/* Class styles */
.onlyMobile {
    display: none;
}
@media screen and (max-width: 768px) {
    .onlyMobile {
        display: block;
    }
}

.onlyDesktop {
    display: none;
}
@media screen and (min-width: 768px) {
    .onlyDesktop {
        display: block;
    }
}

.gradienttext {
    background-image: linear-gradient(150deg, #f76b1c, #fad961);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}
.inter {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

.urbanist {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 1em;
}
