<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Dashboard - Liste des produits</title>
  <link rel='stylesheet' href='../views/styles/common/index.css'>
  <link rel="stylesheet" href="../views/styles/headerPrivate.css" />
  <link rel="stylesheet" href="../views/styles/dashboard-products.css" />
  <script type='text/javascript' src='../views/scripts/common/components.js' async></script>
  <meta name='viewport' content='width=device-width'>
</head>
<body>

<div class='header-container' title='Dashboard' leftButtonPath='../views/assets/icons/backButton.svg'
     rightButtonPath="../views/assets/icons/person.svg"

></div>

<main>
  <section>
    <header>
      <img src='../views/assets/icons/homeInline.svg' alt='house'>
      <h2 class='gradienttext'>Produit 1</h2>
    </header>
    <div class='graphList'>
      <img src='../views/assets/graph.svg' alt='graph'/>
      <img src='../views/assets/graph.svg' alt='graph'/>
      <img src='../views/assets/graph.svg' alt='graph'/>
      <img src='../views/assets/graph.svg' alt='graph'/>
    </div>
  </section>

  <section>
    <header>
      <img src='../views/assets/icons/homeInline.svg' alt='house'>
      <h2 class='gradienttext'>Produit 2</h2>
    </header>
    <div class='graphList'>
      <img src='../views/assets/graph.svg' alt='graph'/>
      <img src='../views/assets/graph.svg' alt='graph'/>
      <img src='../views/assets/graph.svg' alt='graph'/>
      <img src='../views/assets/graph.svg' alt='graph'/>
    </div>
  </section>

  <section>
    <header>
      <img src='../views/assets/icons/homeInline.svg' alt='house'>
      <h2 class='gradienttext'>Produit 3</h2>
    </header>
    <div class='graphList'>
      <img src='../views/assets/graph.svg' alt='graph'/>
      <img src='../views/assets/graph.svg' alt='graph'/>
      <img src='../views/assets/graph.svg' alt='graph'/>
      <img src='../views/assets/graph.svg' alt='graph'/>
    </div>
  </section>
</main>

</body>
</html>
