<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SafeHub - Gestion</title>
        <link rel="stylesheet" href="../views/styles/common/index.css" />
        <link rel="stylesheet" href="../views/styles/common/classStyles.css" />
        <link rel="stylesheet" href="../views/styles/gestion.css" />
        <link rel="stylesheet" href="../views/styles/headerPrivate.css" />

        <script
            type="text/javascript"
            src="../views/scripts/common/components.js"
            async
        ></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body>
        <div
            class="header-container"
            title="Gestion"
            leftButtonPath="../views/assets/icons/backButton.svg"
        ></div>

        <div class="input-list-container">
            <button class="button-outlined">Tickets</button>

            <button class="button-outlined">Messages</button>

            <button class="button-outlined">FAQ</button>

            <div class>
                <button class="small-button-outlined">Mentions légales</button>

                <button class="small-button-outlined">CGU</button>
            </div>
        </div>
    </body>
</html>
