<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SafeHub - Gestion Ticket</title>
        <link rel="stylesheet" href="../views/styles/common/index.css" />
        <link rel="stylesheet" href="../views/styles/headerPrivate.css" />
        <link rel="stylesheet" href="../views/styles/gestion-ticket.css" />
        <link rel="stylesheet" href="../views/styles/common/classStyles.css" />

        <script
            type="text/javascript"
            src="../views/scripts/common/components.js"
            async
        ></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body>
        <div
            class="header-container"
            title="Gestion Ticket"
            leftButtonPath="../views/assets/icons/backButton.svg"
        ></div>

        <div class="mT50 ticket-container">
            <div class="line"></div>
            <div>
                <div class="iconParagraph mB20">
                    <div>
                        <p class="status mB10">Non traité</p>
                        <p class="ticketParagraph">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                    <img src="../views/assets/icons/close.svg" />
                </div>
                <div class="line"></div>
            </div>
            <div>
                <div class="iconParagraph mB20">
                    <div>
                        <p class="status-inprogress mB10">En cours</p>
                        <p class="ticketParagraph">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                    <img src="../views/assets/icons/close.svg" />
                </div>
                <div class="line"></div>
            </div>
            <div>
                <div class="iconParagraph mB20">
                    <div>
                        <p class="status-done mB10">Traité</p>
                        <p class="ticketParagraph">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                    <img src="../views/assets/icons/close.svg" />
                </div>
                <div class="line"></div>
            </div>
        </div>

        <!-- Footer -->
        <div class="footer-container" small="true"></div>
    </body>
</html>
