<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SafeHub - Messagerie admin</title>
        <link rel="stylesheet" href="views/styles/common/index.css" />
        <link rel="stylesheet" href="views/styles/headerprivate.css" />
        <script
            type="text/javascript"
            src="views/scripts/common/components.js"
            async
        ></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
        <body>
            <p>bonjour</p>
            <div
            class="header-container"
            title="Messagerie"
            leftButtonPath="views/assets/icons/backButton.svg"
            width="25px"
        ></div>
        <div
            class="input-container"
            type="search"
            name="contact"
            placeholder="Rechercher un contact"
            path=""
        > 

        </body></html>