<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../views/styles/common/index.css" />
        <link rel="stylesheet" href="../views/styles/headerprivate.css" />
        <link rel="stylesheet" href="../views/styles/ticketuser.css" />
        <script
            type="text/javascript"
            src="../views/scripts/common/components.js"
            async
        ></script>
        <title>SafeHub - Ticket Utilisateur</title>
    </head>
    <body>
        <div
            class="header-container"
            title="Ticket"
            leftButtonPath="../views/assets/icons/backButton.svg"
            rightButtonPath="../views/assets/icons/logout.svg" width="25px"
            >
        </div>
        <div class="middle-container">
            <div class="nouveauticket">
                <p>Nouveau ticket</p>
            </div>
            <div
                class="input-label-container"
                type=""
                name=""
                placeholderInside="Objets"
                placeholder=""  
                path=""
            ></div>
            <div
                class="input-label-container"
                type=""
                name=""
                multiline="true"
                placeholderInside="Rédige ton message ici..."
                placeholder=""  
                path=""
            ></div> 
            <div class="envoyerTicket">
                <bouton class="button">    
                    Envoyer
                </bouton>
            </div>
        </div>
        <div class="central-container">
            <div class="small-stroke""></div>
            <br/>
            <br/>
            <p class="questionTicket">Qu’est ce qu’un ticket ?
            </p>
            <p><br/>Les tickets sont transmis directement aux administrateurs, si vous avez une plainte ou un bug n’hésitez pas à en faire un. <br/><br/>
                Si vous avez un problème dans votre habitation et que vous souhaitez contacter la personne en charge utilisez la messagerie.</p>
        </div>
    </body>
</html>
